/* ------------------
    RESET
------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------
    GENERAL
------------------ */
.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
img{
    width: 100%;
}
.contenitore{
    padding: 0 15px;
}

/* ------------------
    TYPOGRAPHY
------------------ */
body{
    font-family: "Montserrat", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-add{
    width: 35px;
	height: 35px;
    background-color: lightgray;
    font-size: 26px;
    margin-top: 10px;
    margin-right: 7px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-upgrade{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 8px 32px;
    margin-top: 36px;
    margin-right: 5px;
}

/* ------------------
    HEADER
------------------ */
.side-bar{
    background-color: black;
    color: white;
    width: 230px;
    height: calc(100vh - 90px);
    padding: 15px;
    font-size: 12px;
}
.side-bar img{
    margin-bottom: 5px;
}
.original-logo{
    width: 100%;
}
.info{
    display: flex;
    align-items: center;
}
.testo{
    display: none;
}
.playlist{
    display: none;
    margin-top: 20px;
}
.playlist ul{
    line-height: 2.2em;
    list-style: none;
}
.crea-playlist{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.header-top{
    height: calc(100% - 50px);
    color: grey;
}
.header-bottom hr{
    display: none;
}
.info-bottom{
    display: flex;
    align-items: center;
    justify-content: top;
}

/* ------------------
    MAIN
------------------ */
main{
    background-color: #1c1e26;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 90px);
}
.banner{
    background-color: #121319;
    height: 95px;
    text-align: right;
}
.categorie{
    padding: 15px 25px;
    color: lightgray;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
.contenitore h1{
    color: white;
    margin-bottom: 25px;
}
.recenti{
    display: flex;
}
.playlist-music{
    margin-right: 10px;
    width: 100%;
}
.playlist-music h3{
    color: white;
    text-align: center;
    padding: 10px 0;
}
.playlist-music p{
    color: gray;
    text-align: center;
}


/* ------------------
    FOOTER
------------------ */
footer{
    height: 90px;
    background-color: #7d7e83;
}




/* ------------------
    LAYOUT
------------------ */
@media screen and (max-width: 500px){
    .side-bar{
        width: 50px;
    }
    .original-logo{
        display: none;
        width: 100%;
    }
    
}
@media screen and (min-width: 501px){
    .img1{
        display: none;
    }
    .info-img{
        max-width: 20%;
        display: block;
        margin-right: 10px;
    }
    .testo{
        display: block;
    }
    .playlist{
        display: block;
    }
    .header-top{
        height: calc(100% - 75px);
    }
    .header-bottom hr{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
