/* ------------------
    RESET
------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------
    GENERAL
------------------ */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
img{
    width: 100%;
}


/* ------------------
    TYPOGRAPHY
------------------ */
body{
    font-family: "Montserrat", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-add{
    width: 35px;
	height: 35px;
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------
    HEADER
------------------ */
.side-bar{
    background-color: black;
    color: white;
    width: 230px;
    height: calc(100vh - 90px);
    padding: 15px;
}
.side-bar img{
    margin-bottom: 5px;
}
.header-bottom{
    margin-top: 455px;
}
.original-logo{
    width: 100%;
}
.info{
    display: flex;
    align-items: center;
}
.testo{
    display: none;
}
.playlist{
    display: none;
    margin-top: 20px;
}
.playlist ul{
    line-height: 2.2em;
    color: gray;
    list-style: none;
}


/* ------------------
    MAIN
------------------ */
main{
    background-color: #1c1e26;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 90px);
}



/* ------------------
    FOOTER
------------------ */
footer{
    height: 90px;
    background-color: #2c2c2c;
}




/* ------------------
    LAYOUT
------------------ */
@media screen and (max-width: 500px){
    .side-bar{
        width: 50px;
    }
    .original-logo{
        display: none;
        width: 100%;
    }
    
}
@media screen and (min-width: 500px){
    .img1{
        display: none;
    }
    .info-img{
        max-width: 20%;
        display: block;
    }
    .testo{
        display: block;
    }
    .playlist{
        display: block;
    }
}
