/* ------------------
    RESET
------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------
    GENERAL
------------------ */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


/* ------------------
    TYPOGRAPHY
------------------ */


/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}


/* ------------------
    HEADER
------------------ */
.side-bar{
    background-color: black;
    width: 230px;
    height: calc(100vh - 90px); 
}

/* ------------------
    MAIN
------------------ */
main{
    background-color: #1c1e26;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 90px);
}

/* ------------------
    FOOTER
------------------ */
footer{
    height: 90px;
    background-color: #2c2c2c;
}

/* ------------------
    LAYOUT
------------------ */
@media screen and (max-width: 500px){
    .side-bar{
        width: 50px;
    }
}